# =================================
# UnrealMate - Python Dev .gitignore
# =================================

# Python Virtual Environments
/venv/
/env/
/.venv/

# Build and Distribution
/dist/
/build/
*.egg-info/
unrealmate-*.tar.gz
unrealmate-*/

# Caches and Testing
.pytest_cache/
.ruff_cache/
.mypy_cache/
__pycache__/
*.pyc
.cache/

# Unreal Engine - Build (For test projects)
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
.vs/
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db
Desktop.ini